.manager-branchs-reservation-chart-wrap {
    width: 100%;
    margin: 20px 20px;
  }
  
  
  .manager-branchs-reservation-chart-title-wrap {
    margin: 20px;
  }

  .manager-branchs-reservation-chart-popup-section-title {
    font-weight: bold; /* 섹션 제목 강조 */
    color: #333; /* 글자 색상 */
    margin-left: 10px;
    margin-bottom: 5px;
  }

  .manager-branchs-reservation-chart-table-button-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .manager-branchs-reservation-chart-content-header {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

  .manager-branchs-reservation-chart-content-row {
    display: flex;
    align-items: center;
  }
  
  .manager-branchs-reservation-chart-content-popup-wrap {
    width: 500px;
    margin: 250px auto;
    padding: 20px 20px;
    background-color: #fff;
    border-radius: 6px;
  }


  .manager-branchs-reservation-chart-detail-popup-close {
    display: flex;
    justify-content: space-between;
  }
  .manager-branchs-reservation-chart-info-pageing-wrap {
    margin-top: 5px;
  }
  
  .manager-branchs-reservation-chart-info-pageing-display {
    margin: 0px 10px;
  }
  
  .manager-branch-detail-popup-wrap {
    width: 500px;
    margin: 250px auto;
    padding: 20px 20px;
    background-color: #fff;
    border-radius: 6px;
  }
  
  .manager-branchs-reservation-chart-detail-popup-close {
    display: flex;
    justify-content: space-between;
  }
  
  .manager-branchs-reservation-chart-detail-popup-line {
    margin: 5px 0px;
  }

  .manager-button manager-branch-button-detail {
    color: #77777a;
  }
  