.reservation-detail-wrap{
    position: relative;
    width: 1280px;
    margin: 50px auto;
}
.reservation-detail-header{
    margin-bottom: 40px;
}
.reservation-detail-header-detail{
    width: 800px;
    border-bottom: 1px solid black;
}
.reservation-detail-header-detail-title{
    margin-bottom: 40px;
}

.reservation-detail-header-detail-title h3{
    width: 100%;
    height: 50px;
    font-size: 24px;
    line-height: 50px;
    padding: 0px 20px;
    background-color: #ccc;
    border-radius: 12px;
    color: black;
}
.reservation-detail-header-detail div{
    display: flex;
    margin-bottom: 40px;
}
.reservation-detail-header-detail p{
    display: block;
    width: 600px;
    font-size: 18px;
}
.reservation-detail-header-detail a{
    display: block;
    width: 200px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(87, 141, 211);
}
.reservation-detail-header-car-image{
    position: absolute;
    width: 400px;
    height: 300px;
    top: 0;
    right: 0;
    border: 1px solid black;
    border-radius: 20px;
}
.reservation-detail-payment-details-wrap{
    position: absolute;
    width: 400px;
    top: 340px;
    right: 0;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px 0;
}
.reservation-detail-payment-details-wrap h3{
    font-size: 16px;
    font-weight: bold;
    padding: 0 20px;
    margin-bottom: 28px;
}
.reservation-detail-header-car-image img{
    display: block;
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin: 50px auto;
}
.reservation-detail-body{
    width: 800px;
}

.reservation-detail-body h3{
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: bold;
}
.reservation-detail-body p{
    font-size: 16px;
}
.contract-information{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0 20px;
}
.reservation-detail-payment-details{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0 20px;
}
.reservation-detail-payment-rental-fee{
    display: flex;
    width: 328px;
    justify-content: space-between;
    font-size: 24px;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 20px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}
.reservation-detail-payment-rental-fee :nth-child(2){
    color: #D60228;
}
.reservation-detail-payment-details ul{
    display: flex;
    width: 328px;
    flex-direction: column;
    font-size: 14px;
    gap: 20px;
    margin: 0 auto;
}
.reservation-detail-payment-details li{
    display: flex;
    justify-content: space-between;
}
.fee{
    display: flex;
    justify-content: space-between;
    background-color: #ccc;
    border-radius: 6px;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    margin-bottom: 40px;
}
.driver-range{
    border-top: 1px solid black;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}
.radio-wrap{
    width: 500px;
}
.insurance{
    border-top: 1px solid black;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    border-bottom: 1px solid black;
}
.maintenance{
    width: 100%;
    border: 1px solid black;
    padding: 20px;
    border-radius: 12px;
    margin: 40px 0;
}
.maintenance h3{
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
#note{
    margin-top: 40px;
}
#reservation-button{
    display: block;
    width: 328px;
    height: 60px;
    border-radius: 30px;
    margin: 0 auto;
    background-color: #D60228;
    font-size: 18px;
    font-weight: bold;
    color: white;
}