
.mypage-detail-update-wrap {
  display: flex;
  justify-content: center;
  align-items: center;  
  /* background-color: #f7f7f9; */
  /* letter-spacing: 5px; */
  font-size: 14px;
  width: 500px;
  height: 500px;
  margin: 100px auto;
}

.mypage-detail-update-contents-wrap {
  width: 400px;
  background-color: #fff;
  z-index: 999;
}

.mypage-detail-update-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mypage-detail-update-close {
  font-size: 14px;
  font-weight: normal;
  padding-right: 10px;
}


.mypage-detail-update-basic-info-wrap,
.mypage-detail-update-sub-info-box {
  border: solid 2px #50555C;;
  background-color: #fff;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  /* letter-spacing: 5px; */
  padding: 15px;
}

.mypage-detail-update-title,
.mypage-detail-update-sub-info-title {
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  padding-top: 20px;
}

.mypage-detail-update-signout {
  padding-top: 30px;
}

.mypage-detail-update-basic-info-name-section,
.mypage-detail-update-basic-info-email-section,
.mypage-detail-update-basic-info-bitrhday-section,
.mypage-detail-update-basic-info-cellphone-section,
.mypage-detail-update-sub-info-license-number-section,
.mypage-detail-update-sub-info-created-date-section,
.mypage-detail-update-sub-info-updated-date-section {
  display: flex;
  align-items: center;
  padding: 0 5px;
}

.mypage-detail-update-info-name {
  padding-right: 20px;
}

.mypage-detail-update-basic-info-wrap {
  padding: 10px 20px;
}

.mypage-detail-update-sub-info-save {
  margin: 10px;
  right: 10px;
}

.mypage-detail-update-signout {
margin: 0 10px;
display: flex;
justify-content: space-between;
}

.mypage-detail-popup-save-wrap {
  display: flex;          /* flex 컨테이너로 설정 */
  justify-content: flex-end; /* 오른쪽 정렬 */
  /* 다른 스타일 속성들... */
}

.mypage-detail-update-signout-box {
margin: 10px 0;
padding-right: 5pxS;
}

.mypage-detail-update-sub-info-save-box {
  display: flex;
  justify-content: space-between;
}

.mypage-detail-button {
  background: none;
  background-color: #ff7916;
  color: white;
  border-radius: 5px;
  width: 50px;
  height: 24px;
  font-size: 12px;
}

.mypage-detail-signout-button {
  background: none;
  background-color: #ff7916;
  color: white;
  border-radius: 5px;
  width: 100px;
  height: 24px;
  font-size: 12px;
}

.mypage-detail-popup-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* 팝업이 다른 요소 위에 나타나도록 설정 */
  
}

.mypage-detail-content-popup-wrap {
  width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.12);
}

.mypage-detail-content-popup-close {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.mypage-detail-popup-line {
  margin: 10px 0px;
}

.mypage-detail-popup-line label {
  padding-right: 20px;
}

.mypage-detail-popup-line input {
  padding-left: 20px;
}